define target audience and create tool accordingly
getting the data
check which columns are significant
cleaning it (processing)
create plots for it (select useful ones)
Interactive Visualization with Dash (choose good layout/colors etc.)
for interactive visualization: give users the opportunity to filter the data shown/select other types of plots
find another dataset (clean) and find out if data is correlated / how
predict future cases (creating models, compare them to each other by defining some metric)
find correlations between attributes and covid-19 cases


plots:
line chart for countries/continents
scatter plot attributes for x/y: location, continent, date, total cases, total_deaths, total_tests, hosp_patients, reproduction rate, weekly_icu_admissions, weekly_hosp_admissions, (vaccinations), positive_rate, stringency_index (what are people allowed to do), population, population_density, age, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_pervalence, female_smokers, male_smokers, handwashing_facilities, life_expectancy, hospital_beds_per_thousand, human_development_index, excess_mortality


not done - random line when showing 2 countries
done - if second attribute selected, show new axis on the left, if more are selected, show them on the axis with similar magnitude
done - ask di, if current filtering system is okay, if yes then increase box size for query
done - sort parameters for axis selection
done - add location attribute to grouped df, actually not necessary
not done - disable linear/log selection if column type is non-numerical
done - add filtering by daterange
not done - prediction graph
done - align selection boxes
not done - increase font size of title, update secondary title
not done - add information box on the bottom, giving info about: column descriptions, (query examples), if user hovers over datapoint give information about it (e.g. max(new_cases), mean, date, country in general, choose color for one specific country, change color for all other countries)
not done - think about design of page
not done - fix coloring for multiple y-parameters?
not done - add columns divided by population
not done - link filter query examples in visualization tool
not done - fix color for selection boxes (when item is selected) and size of multi selection box

not done - after all of this, think about more plot types to add
not done - maybe add second plot to compare countries? 